# Ignore EVERYTHING inside the datasets folder
datasets/*

# EXCEPT these specific files! (Change to .zip if you compressed them)
!datasets/Master_Dataset.csv
!datasets/Recommender_Matrix.libsvm

# Keep ignoring standard Python cache files
__pycache__/
.ipynb_checkpoints/

dummy.ipynb
Project Step 1.docx
Project Step 2.docx